<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.venus.tspro.dao.BillDao">
    <resultMap id="billResultMap" type="BillInfo">
        <id property="billId" column="BILL_ID"></id>
        <result property="billCode" column="BILL_CODE" jdbcType="VARCHAR"></result>
        <result property="custId" column="CUST_ID" jdbcType="VARCHAR"></result>
        <result property="custName" column="CUST_NAME" jdbcType="VARCHAR"></result>
        <result property="taskId" column="TASK_ID" jdbcType="VARCHAR"></result>
        <result property="taskName" column="TASK_NAME"></result>
        <result property="taskAmount" column="TASK_AMOUNT"></result>
        <result property="billStatus" column="BILL_STATUS"></result>
        <result property="billAmount" column="BILL_AMOUNT"></result>
        <result property="deliveryStatus" column="DELIVERY_STATUS"></result>
        <result property="deliveryCode" column="DELIVERY_CODE"></result>
        <result property="createTime" column="CREATE_TIME"></result>
        <result property="updateTime" column="UPDATE_TIME"></result>
        <result property="optUser" column="OPT_USER" jdbcType="VARCHAR"></result>
    </resultMap>

    <sql id="insertTaxCompanySql">
        (BILL_ID,BILL_CODE,CUST_ID,CUST_NAME,TASK_ID,TASK_NAME,
        TASK_AMOUNT,BILL_STATUS,BILL_AMOUNT,DELIVERY_STATUS,DELIVERY_CODE,
            CREATE_TIME,UPDATE_TIME,OPT_USER)
    </sql>

    <select id="queryAllBills"  resultMap="billResultMap">
        SELECT * FROM T_BILL_INFO T
    </select>

    <insert id="saveNewBill" parameterType="BillInfo">
        INSERT INTO T_BILL_INFO <include refid="insertTaxCompanySql"></include> VALUES (
            #{billId},#{billCode},#{custId,jdbcType=VARCHAR},#{custName,jdbcType=VARCHAR},#{taskId,jdbcType=VARCHAR},
            #{taskName},#{taskAmount,jdbcType=VARCHAR},#{billStatus,jdbcType=VARCHAR},#{billAmount,jdbcType=VARCHAR},#{deliveryStatus},#{deliveryCode},
            TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI:SS'),TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI:SS'),
            #{optUser,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateBill" parameterType="BillInfo">
        UPDATE T_BILL_INFO T
        <set>
            <if test="custName!='' and custName!=null">
                T.CUST_NAME = #{custName},
            </if>
            <if test="billCode!='' and billCode!=null">
                T.BILL_CODE = #{billCode},
            </if>
            <if test="taskName!='' and taskName!=null">
                T.TASK_NAME = #{taskName},
            </if>
            <if test="taskAmount!='' and taskAmount!=null">
                T.TASK_AMOUNT = #{taskAmount},
            </if>
            <if test="billStatus!='' and billStatus!=null">
                T.BILL_STATUS = #{billStatus},
            </if>
            <if test="billAmount!='' and billAmount!=null">
                T.BILL_AMOUNT = #{billAmount},
            </if>
            <if test="deliveryStatus!='' and deliveryStatus!=null">
                T.DELIVERY_STATUS = #{deliveryStatus},
            </if>
            <if test="deliveryCode!='' and deliveryCode!=null">
                T.DELIVERY_CODE = #{deliveryCode},
            </if>
            T.UPDATE_TIME = TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI:SS')
        </set>
        WHERE T.BILL_ID = #{billId}
    </update>
</mapper>