<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.venus.tspro.dao.TaskDao">

   <!-- 查询任务信息-->
    <resultMap id="taskInfoResultMap" type="com.venus.tspro.entity.TaskInfo">
        <id column="TASK_ID" property="taskId"/>
        <result column="CUST_ID" property="custId"/>
        <result column="TASK_NAME" property="taskName"/>
        <result column="TASK_DETAIL" property="taskDetail"/>
        <result column="STATUS" property="status"/>
        <result column="AMOUNT" property="amount"/>
        <result column="TAX_FEE" property="taxFee"/>
        <result column="FEE" property="fee"/>
        <result column="BILL_STATUS" property="billStatus"/>
        <result column="DELIVERY_STATUS" property="deliveryStatus"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="STAFF_SKILLS" property="staffSkills"/>
        <result column="CUST_NAME" property="custName"/>
        <result column="COMPANY_BUSINESS" property="companyBusiness"/>
        <result column="COMPANY_ID" property="companyId"/>
        <result column="COMPANY_NAME" property="companyName"/>
    </resultMap>
    <select id="getTaskData" parameterType="TaskInfo" resultMap="taskInfoResultMap">
        SELECT taskinfo.*,custinfo.cust_name,custinfo.company_business,
         tsPlatformInfo.company_id,tsPlatformInfo.company_name
        FROM T_TASK_INFO taskinfo
        LEFT JOIN T_CUSTOMER_INFO custinfo ON taskinfo.cust_id = custinfo.cust_id
        LEFT JOIN T_REL_CUST_TS relCustinfo ON custinfo.cust_id = relCustinfo.Cust_Id
        LEFT JOIN T_TS_PLATFORM_INFO tsPlatformInfo ON relCustinfo.ts_id = tsPlatformInfo.company_id
        ORDER BY taskinfo.update_time DESC
    </select>

    <!--添加任务信息-->
    <insert id="addTaskData" parameterType="TaskInfo">
        INSERT INTO T_TASK_INFO (TASK_ID,CUST_ID,TASK_NAME,TASK_DETAIL,STATUS,AMOUNT,STAFF_SKILLS,CREATE_TIME,UPDATE_TIME)
        VALUES(#{taskId},#{custId},#{taskName},#{taskDetail},#{status},#{amount},#{staffSkills},#{createTime},#{updateTime})
    </insert>
    <!--更新任务信息-->
    <update id="editTaskData" parameterType="TaskInfo">
        UPDATE T_TASK_INFO
        SET TASK_NAME=#{taskName},TASK_DETAIL=#{taskDetail},STAFF_SKILLS=#{staffSkills},UPDATE_TIME=#{updateTime}
        where TASK_ID=#{taskId}
    </update>

</mapper>
