<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.venus.tspro.dao.TaxSourceDao">
    <resultMap id="taxSourceResultMap" type="TaxSource">
        <id property="tsId" column="T_TS_ID"></id>
        <result property="tsName" column="T_TS_NAME" jdbcType="VARCHAR"></result>
        <result property="tsAgreement" column="T_TS_AGREEMENT" jdbcType="VARCHAR"></result>
        <result property="perVAT" column="P_VAT" jdbcType="VARCHAR"></result>
        <result property="perCMT" column="P_CMT" jdbcType="VARCHAR"></result>
        <result property="perEST" column="P_EST" jdbcType="VARCHAR"></result>
        <result property="perPIT" column="P_PIT" jdbcType="VARCHAR"></result>
        <result property="perVatRemain" column="P_VAT_REMAIN" jdbcType="VARCHAR"></result>
        <result property="perVatRefund" column="P_VAT_REFUND" jdbcType="VARCHAR"></result>
        <result property="perPitRemain" column="P_PIT_REMAIN" jdbcType="VARCHAR"></result>
        <result property="perPitRefund" column="P_PIT_REFUND" jdbcType="VARCHAR"></result>
        <result property="pitAvoidAmount" column="PIT_AVOID_AMOUNT" jdbcType="VARCHAR"></result>
        <result property="status" column="STATUS"></result>
        <result property="createTime" column="CREATE_TIME"></result>
        <result property="updateTime" column="UPDATE_TIME"></result>
        <result property="optUser" column="OPT_USER" jdbcType="VARCHAR"></result>
    </resultMap>

    <sql id="insertTaxSourceSql">
        (T_TS_ID,T_TS_NAME,T_TS_AGREEMENT,P_VAT,P_CMT,P_EST,P_PIT,P_VAT_REMAIN,P_VAT_REFUND,P_PIT_REMAIN,P_PIT_REFUND,
                PIT_AVOID_AMOUNT,STATUS,CREATE_TIME,UPDATE_TIME,OPT_USER)
    </sql>

    <select id="queryAllTaxSource"  resultMap="taxSourceResultMap">
        SELECT * FROM T_TS_INFO T
    </select>

    <insert id="saveNewTaxSource" parameterType="TaxSource">
        INSERT INTO T_TS_INFO <include refid="insertTaxSourceSql"></include> VALUES (
            #{tsId},#{tsName},#{tsAgreement,jdbcType=VARCHAR},#{perVAT},#{perCMT},#{perEST},#{perPIT},#{perVatRemain},#{perVatRefund},
            #{perPitRemain},#{perPitRefund},#{pitAvoidAmount},'1',TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI:SS'),TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI:SS'),
            #{optUser,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateTaxSource" parameterType="TaxSource">
        UPDATE T_TS_INFO T
        <set>
            <if test="tsName!='' and tsName!=null">
                T.T_TS_NAME = #{tsName},
            </if>
            <if test="tsAgreement!='' and tsAgreement!=null">
                T.T_TS_AGREEMENT = #{tsAgreement},
            </if>
            <if test="perVAT!='' and perVAT!=null">
                T.P_VAT = #{perVAT},
            </if>
            <if test="perCMT!='' and perCMT!=null">
                T.P_CMT = #{perCMT},
            </if>

            <if test="perEST!='' and perEST!=null">
                T.P_EST = #{perEST},
            </if>
            <if test="perPIT!='' and perPIT!=null">
                T.P_PIT = #{perPIT},
            </if>
            <if test="perVatRemain!='' and perVatRemain!=null">
                T.P_VAT_REMAIN = #{perVatRemain},
            </if>
            <if test="perVatRefund!='' and perVatRefund!=null">
                T.P_VAT_REFUND = #{perVatRefund},
            </if>

            <if test="perPitRemain!='' and perPitRemain!=null">
                T.P_PIT_REMAIN = #{perPitRemain},
            </if>
            <if test="perPitRefund!='' and perPitRefund!=null">
                T.P_PIT_REFUND = #{perPitRefund},
            </if>
            <if test="pitAvoidAmount!='' and pitAvoidAmount!=null">
                T.PIT_AVOID_AMOUNT = #{pitAvoidAmount},
            </if>
            T.UPDATE_TIME = TO_CHAR(SYSDATE,'YYYY-MM-DD HH24:MI:SS')
        </set>
        WHERE T.T_TS_ID = #{tsId}
    </update>
</mapper>