<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>充值管理</title>
</head>
<link href="/static/lib/layui-v2.5.5/css/layui.css" media="all" rel="stylesheet">
<link href="/static/css/public.css" media="all" rel="stylesheet">
<script charset="utf-8" src="/static/lib/layui-v2.5.5/layui.js"></script>
<script src="/static/js/page/invest.js"></script>
<body class="layuimini-container">
<div class="layuimini-main">

    <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;">
        <legend>充值管理</legend>
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </fieldset>

    <script id="toolbarDemo" type="text/html">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm data-add-btn" lay-event="add"><i class="layui-icon">&#xe608;</i>新增充值订单</button>
        </div>
    </script>

    <script id="currentTableBar" type="text/html">
        <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
        <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">查看凭证</a>
    </script>
</div>
</body>
</html>