<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>新增税源企业</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/static/lib/layui-v2.5.5/css/layui.css" media="all" rel="stylesheet">
    <link href="/static/css/public.css" media="all" rel="stylesheet">
    <script charset="utf-8" src="/static/lib/layui-v2.5.5/layui.all.js"></script>
<!--    <script charset="utf-8" src="/static/lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>-->
<!--    <script charset="utf-8" src="/static/lib/jq-module/zyupload/zyupload-1.0.0.min.js"></script>-->
<!--    <link href="/static/lib/jq-module/zyupload/zyupload-1.0.0.min.css" media="all" rel="stylesheet">-->
    <style>
        body {
            background-color: #ffffff;
        }
        .layui-input, .layui-textarea {
            display: block;
            width: 85%;
            padding-left: 10px;
        }

        .layui-textarea {
            min-height: 30px;
            height: auto;
            line-height: 20px;
            padding: 6px 10px;
            resize: vertical;
        }

    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item" hidden="hidden">
        <div class="layui-input-block">
            <input class="layui-input" id="companyId" name="companyId" type="text" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">企业名称</label>
        <div class="layui-input-block">
            <input class="layui-input" lay-reqtext="企业名称不能为空" lay-verify="required" id="companyName" name="companyName" type="text"
                   value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">工商注册编码</label>
        <div class="layui-input-block">
            <input class="layui-input" id="businessLicence" name="businessLicence" type="text" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">法人姓名</label>
        <div class="layui-input-block">
            <input class="layui-input" id="legalName" name="legalName" type="text" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">法人身份证</label>
        <div class="layui-input-block">
            <input class="layui-input" lay-verify="number" id="legalId" name="legalId" type="text" value="">
        </div>
    </div>

    <div class="layui-form-item" hidden="hidden">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit id="addTscBtn" lay-filter="addTscFilter">提交</button>
            <button class="layui-btn" lay-submit id="editTscBtn" lay-filter="editTscFilter">编辑</button>
        </div>
    </div>

</div>
<script src="/static/js/page/tax-company.js?v=1.0.8" type="text/javascript"></script>
</body>
</html>