<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/static/lib/layui-v2.5.5/css/layui.css" media="all" rel="stylesheet">
    <link href="/static/css/public.css" media="all" rel="stylesheet">
    <script charset="utf-8" src="/static/lib/layui-v2.5.5/layui.js"></script>
    <style>
        body {
            background-color: #ffffff;
        }

        .layui-input, .layui-textarea {
            display: block;
            width: 85%;
            padding-left: 10px;
        }

        .layui-textarea {
            min-height: 30px;
            height: auto;
            line-height: 20px;
            padding: 6px 10px;
            resize: vertical;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div>
        <input id="custId" hidden="true">
        <input hidden="true" id="taskId">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">公司名称</label>
        <div class="layui-input-block">
            <input class="layui-input" style="background-color: #F5F5F5" lay-reqtext="公司名称不能为空" disabled="disabled" lay-verify="required" name="custName" id="custName" type="text"
                   value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">公司业务</label>
        <div class="layui-input-block">
            <input class="layui-input" style="background-color: #F5F5F5" disabled="disabled" name="companyBusiness" id="companyBusiness" type="text" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">服务商</label>
        <div class="layui-input-block">
            <input class="layui-input" style="background-color: #F5F5F5" disabled="disabled" id="companyName" type="text" value="">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">任务名称</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="taskName" lay-reqtext="任务名称不能为空" lay-verify="required" maxlength="70"
                      name="taskName" placeholder="必填项目"></textarea>
            <tip>如：xx服务/开发外包，70字以内</tip>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">任务内容</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="taskDetail" maxlength="70" name="taskDetail"
                      placeholder="选填项目"></textarea>
            <tip>任务内容必须为合同中列明的服务内容，70字以内</tip>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">人员技能</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="staffSkills" maxlength="70" name="staffSkills"
                      placeholder="选填项目"></textarea>
            <tip>人员技能必须为合同中列明的服务内容，70字以内</tip>
        </div>
    </div>

    <div class="layui-form-item" style="display: none">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" id="saveBtn" lay-filter="saveBtn" lay-submit>确认保存</button>
        </div>
    </div>
</div>

<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            // var index = layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // }, function () {
            //
            //     // 关闭弹出层
            //     layer.close(index);
            //
            //     var iframeIndex = parent.layer.getFrameIndex(window.name);
            //     parent.layer.close(iframeIndex);
            //
            // });
            // taskAdd(data);
            //https://blog.csdn.net/qq_35393869/article/details/86627689 自定义提示
            return false;
        });

    });
</script>
</body>
</html>
